@font-face {
    font-family: 'NunitoSans-Regular';
    src: local('NunitoSans-Regular'), url('/font/NunitoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NunitoSans-Black';
    src: local('NunitoSans-Black'), url('/font/NunitoSans-Black.ttf') format('truetype');
}
@font-face {   
    font-family: 'NunitoSans-SemiBold';
    src: local('NunitoSans-SemiBold'), url('/font/NunitoSans-SemiBold.ttf') format('truetype');
}
@font-face {    
    font-family: 'NunitoSans-Bold';
    src: local('NunitoSans-Bold'), url('/font/NunitoSans-Bold.ttf') format('truetype');
}
@font-face {    
    font-family: 'Roboto-Medium';
    src: local('Roboto-Medium'), url('/font/Roboto-Medium.ttf') format('truetype');
}
@font-face {    
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'), url('/font/Montserrat-Bold.ttf') format('truetype');
}
@font-face {    
    font-family: 'Montserrat-Medium';
    src: local('Montserrat-Medium'), url('/font/Montserrat-Medium.ttf') format('truetype');
}
@font-face {    
    font-family: 'Montserrat-SemiBold';
    src: local('Montserrat-SemiBold'), url('/font/Montserrat-SemiBold.ttf') format('truetype');
}
.app-body{
    flex-direction: row; display: flex; flex: 1;
  }
.main-box {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-left: 1%;
      background-color: #fbfcfd;
      padding-right: 1%;
      background-size: cover;
  }
  .welcome-header{
      font-family: 'Montserrat-SemiBold';
      color: black;
      font-size: 36px;
      margin-top: 2%;
      margin-bottom: 1%;
  }
  .date-text{
      font-family: 'Montserrat-SemiBold';
      font-size: 24px;
      color: black;
      margin-top: 2%;
      margin-bottom: 2%;
  }
  .content-box{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }
  .first-content-div{
      flex-direction: column;
      display: flex;
      padding:10px;
  }
  .card-holder{
      flex-direction: row;
      display: flex;
      width: 691px;
      justify-content: space-between;
  }
  .card-div{
      width: 316px;
      height: 156px;
      border-radius: 4px;
      background-color: #1281dd;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 21px;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .total-text{
      color: white;
      font-size: 10px;
      font-family: 'Montserrat-SemiBold';
      margin: 0px;
  }
  .total-count-text{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat-SemiBold';
    margin: 0px;
}
  .total-value{
      color: white;
      font-size: 80px;
      font-family: 'Montserrat-SemiBold';
      margin: 0px;
  }
  .daily-text{
      color: black;
      font-size: 20px;
      font-family: 'Roboto-Medium';
  }
  .order-count-div{
      width: 100%;
      height: 143px;
      border-radius: 4px;
      background-color: #1281dd;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 10px;
  }
  @media only screen and (max-width: 768px) {
    .main-box {
        display: flex;
        flex-direction: column;
        padding-left: 28px;
        background-color: #fbfcfd;
        padding-right: 28px;
        width: 100%;
    }
    .content-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-holder{
        flex-direction: row;
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-self: center;
    }
    .card-div{
        width: auto;
        height: 156px;
        border-radius: 4px;
        background-color: #1281dd;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 21px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
  }